.tableItem {
    display: grid;
    grid-template-columns: 200px 1fr repeat(4, 200px);
    align-items: center;
    height: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    border-bottom: 1px solid #414144;



    input[type="text"] {
        font-family: inherit;
        /* 1 */
        font-size: inherit;
        /* 1 */
        line-height: inherit;
        /* 1 */
        margin: 0;
        /* 2 */
    }

    &__level {
        display: flex;
        position: relative;
    }
    &__list {
        position: relative;
        z-index: 10;
        margin-right: 11px;
    }

    &__title {
        display: flex;
    }

    &__item_withParent:not(:first-child) {
        content: ' ';
        display: block;
        border-bottom: 1px solid #C6C6C6;
        width: 12px;
        position: relative;
        bottom: 12px;
        z-index: 1;

        &::before {
            content: ' ';
            display: block;
            border-left: 1px solid #C6C6C6;
            height: 60px;
            position: absolute;
            z-index: 1;
            bottom: -200px;
        }

    }

    &__icons{
        &_edit{
            position: relative;
            padding: 6px 8px 7px 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #414144;
            border-radius: 6px;
            top: 0px;
            left: 0px;
            z-index: 10;
            
        }
    }

    &__number {
        padding: 12px;
    }

    &__input {
        border: 1px solid #414144;
        border-radius: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        padding: 10px;
        margin-left: 12px;
        letter-spacing: 0.1px;
        background-color: #202124;
        color: #71717A;
    }
}