.aside {

    background-color: #27272A;
    border-right: 1px solid #414144;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;


    &__title {
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 13px;
        border-bottom: 1px solid #414144;;
        h2 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #A1A1AA;
            margin-bottom: -5px;
    
        }
    
        span {
            font-size: 10px;
            line-height: 12px;
            color: #A1A1AA;
        }
    }

    &__arrow_down {
        cursor: pointer;
    }



    &__item {
        grid-column: span 1fr;
        padding-left: 20px;
        padding-right: 13px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        color: #FFFFFF;

        span {
            padding-left: 16.75px;
        }
    }
}