.table {
    display: grid;
    background-color: #202124;
    grid-template-columns: repeat(7, 1fr);

    &__tableSideBar {
        grid-column: 1/2;
        grid-row: 1/16;
    }

    &__tableHeader {
        grid-column: 2/4;
        grid-row: 1/2;
        background-color: #27272A;
        color: #FFFFFF;
        height: 44px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        padding: 8px 15px;
        border-right: 1px solid #414144;
        border-bottom: 1px solid #414144;
    }
    &__tableHeader2 {
        grid-column: 4/8;
        border-bottom: 1px solid #414144;
        background-color: #27272A;
    }

    &__resultHeader {
        grid-column: 2/8;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 110px 1fr repeat(4, 200px);
        align-content: center;
        height: 42px;
        border-bottom: 1px solid #414144;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.1px;
        color: #A1A1AA;
        margin-left: 10px;
        padding-left: 12px;
        margin-right: 12px;
        
    }

    &__tableItems {
        grid-column: 2/8;
        grid-row-start: 4;
        padding-left: 12px;
        margin-right: 12px;
        
    }
    &__child{
        position: relative;
        left: 49px;
        padding-left: 20px;
    }

}